
input[type="radio"] + label{
    color: #8383b6;
    font-size: 16px;
    margin-bottom: -5px !important;
    position: relative;
}
input[type="radio"]:checked{
    & + label{
        color: #4747c2;
        transition: .1s;
        &:after{
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            transition: .3s;
        }
        &.fails::after{
            background: #F004;
            height: 3px;
            bottom: 12px;
            transform: rotateZ(.3deg);
        }
        &.succ::after{
            background: #0996098a;
            height: 3px;
            position: absolute;
            bottom: 7px;
            transform: rotateZ(0.1deg);
        }
        
    }
    &{
        display: none;
    }
}